In [ ]:

# 01
x = int(input("enter the number:"))
if x%3 == 0 and x%5 == 0:
  print("yes")
else:
    print("no")

enter the number:15
yes

In [ ]:
# 02
m = int(input("enter the number:"))
if m>0:
  print("positive")
elif m<0:
  print("negative")
else:
  print("zero")

enter the number:4
positive

In [ ]:
# 03
n = int(input("enter the number:"))
if n%2==0:
  print("even")
else:
  print("odd")

enter the number:5
odd

In [ ]:
# 04
m = input("enter the word:")
x = ["a","e","i","o","u","A","E","I","O","U"]
x2 = "bcdefghjklmnpqrstuvwxyzBCDEFGHJKLMNPQRSTUVWXYZ"
print(type(x))
print(type(x2))

if m in x:
   print("vowel")
elif m in x2:
  print("consonant")
else:
  print("nothing")

enter the word:A
<class 'list'>
<class 'str'>
vowel

In [ ]:
# 05
m = input("enter the word:")
if m.isupper():
  print("upper")
elif m.islower():
  print("lower")

enter the word:f
lower

In [ ]:
# 06
while True:
 m = input("enter the word:")
 if m == "q":
  print("stop")
  break
else:
  print("m")

enter the word:w
enter the word:e
enter the word:q
stop

In [ ]:
# 07
total = 0
i = 1
while i<=100:
  total += i
  i += 1
print("sum:",total)

sum: 5050

In [ ]:
# 08
m = int(input("enter the number:"))
i = 0
for i in range(1,11):
  print(m,"*",i,"=",i*m)

enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# 09
m =[]
for i in range (1,100):n
if i%3==0 and i%5!=0:
    m.append(i)
print(m)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

In [ ]:
# 10
m = [13,34,192,8,46,61,73,49,1,31,4,7,91,58,82,70,43,88,55,97,16,22,25,79,85,40,64,94,67,37]
n = []
i = 0
while i<len(m):
  if m[i]<50:
    n.append(m[i])
  i +=1
print(n)

[13, 34, 8, 46, 49, 1, 31, 4, 7, 43, 16, 22, 25, 40, 37]

In [ ]:
# 11
l = [40,45,33,34,8,38,28,22,1,7,49,41,14,5,22,39,15,19,36,37,43,2,5,42,46,48,49,12,48,37,8,20,30,20,4,37,27,29,7,44,15,32,35,10,28,18,2,15,36,38]
l2 = []

for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

In [ ]:
# 12
a = int(input())
b=1
while b<=a:
    print('*  '*a)
    b+=1

3
*  *  *
*  *  *
*  *  *

In [ ]:
# 13
def sum(a):
  total = 0
  i = 1
  while i<=n:
    total += i
    i += 1
  return total
n = int(input("enter the number:"))
sum(n)

In [ ]:
# 14
def factorial(a):
  fact = 1
  i = 1
  while i <=a:
    fact *= i
    i += 1
  return fact
  n = int(input("enter the number:"))
  factorial(n)

In [ ]:
# 15
def prime(x):
    if x<2:
        return 'not prime'
    for i in range(2,x):
        if x%i==0:
            return 'not prime'
    return "prime"
a = int(input())
print(prime(a))

In [ ]:
# 16
def lv(x):
    v = ['a','e','i','o','u']
    x = x.lower()
    f = 0
    g = ""
    for i in v:
        c = x.count(i)
        if c > f:
            f = c
            g = i
    return "max is ", g
inpu = input()
print(lv(inpu))

bangladesh
('max is ', 'a')